<h1 class="display-4">How's the Weather?</h1>
<p class="mb-4">Write the city name</p>
<input name="city" type="text"  placeholder="Enter a City" required>
<a href="/articles/list" class="btn btn-light" type="submit">Find</a>
